<div class="tit ui-widget-header">
    <h2 class="di"><%= title %></h2>
    <img alt="Edit" class="right show btn-ebox" src="/assets/images/ebox.png">
    <img alt="New" class="right show btn-nbox" src="/assets/images/nbox.png">
  </div>
  <div class="ebox dn">
    <p>
      <label class="title">
        Nadpis <input type="text" value="<%= title %>" />
      </label>
    </p>
    <p>Barva karty
      <select class="colour">
        <option value="">Bílá</option>
        <option value="red">Červená</option>
        <option value="green">Zelená</option>
        <option value="blue">Modrá</option>
        <option value="yellow">Žlutá</option>
      </select>
    </p>
  </div>
  <div class="nbox">
  </div>
  <div class="content">
  </div>
</div>
