<form class="phone_number" id="formPhoneNumber">
  <p>
  <label class="string input required" id="phone_number_name_input"> Jméno
    <input id="phone_number_name" maxlength="255" name="phone_number[name]" type="text" value="<%= item.name %>" />
  </label>
  </p>
  <p>
  <label class="string input required" id="phone_number_number_input"> Číslo
    <input id="phone_number_number" maxlength="255" name="phone_number[number]" type="text" value="<%= item.number %>" />
  </label>
  </p>
</form>
